$header-height: 150px;
$sidebar-width: 300px;

body {
  overscroll-behavior: none;
  margin: 0px;
  background: pink;
}

#sign-in {
  margin: auto;
  width: fit-content;
}

.logo {
  height: 60px;
}

#header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: $header-height;
  background: red;
  z-index: -1;
  margin: 0;
}

#sidebar {
  position: fixed;
  left: 0;
  top: $header-height;
  height: calc(100vh - $header-height);
  background: blue;
  width: $sidebar-width;
}

#search-bar {
  height: 40%;
  background: green;
  margin-bottom: 15px;
}

#favorites {
  height: 40%;
  background-image: url('https://static.wikia.nocookie.net/disney/images/e/e4/Getcha_head.jpg');
  width: 100%;
}

#dashboard {
  position: fixed;
  top: $header-height;
  left: $sidebar-width;
  overflow-y: auto;
  width: calc(100vw - $sidebar-width);
  height: calc(100% - $header-height);
  background: pink;
}
